.landing-hero{
padding-top: 150px;
}
.galaxy-bg{
/* The image used */
background-image: url("../images/super-stary-night.jpg");
/* Set a specific height */
min-height: 96vh;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .img-wrapper{
      width: 100%;
      height: 250px;
  }
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .destyle-anchor{
    text-decoration: none;
    display: block;
    color: #000000;
  }

  .destyle-anchor:hover { 
      color: #000000; 
    }

  .no-bull{
    list-style-type: none !important;
  }

  .no-deco{
    text-decoration: none !important;
  }

  .img-card{
    height: 380px;
    border-radius: 20px;
    position: relative;
    border: 1px solid grey;
  }

  .img-card-bg-1{
    background-image: url("https://github.com/j-goldrath/note-taker/blob/main/public/assets/images/note-taker-app-homepage.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-card-bg-2{
    background-image: url("https://raw.githubusercontent.com/j-goldrath/quiz-game/main/assets/images/quiz-start-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-card-bg-3{
    background-image: url("https://github.com/j-goldrath/workout-tracker/raw/main/assets/images/workout-dashboard.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-card-bg-4{
    background-image: url("https://github.com/j-goldrath/budget-tracker/raw/main/assets/images/progressive-budget-pwa.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-card-bg-5{
    background-image: url("https://github.com/j-goldrath/tech-blog/blob/main/assets/images/tech-blog-demo.gif?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-card-bg-6{
    background-image: url("https://github.com/j-goldrath/team-profile-generator/raw/main/assets/images/team-profile-generator-demo-output.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .project-info-card{
    background-color: #fff;
    color: #000;
    opacity: .8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }

  .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.project-title{
  padding-top: 7px;
  font-weight: bolder;

}
.project-description{
  margin-top: -3px;
}

.project-github-icon{
  margin-top: -20px;
  text-decoration: none;
  color: black;
}